<div class="details">
  <table class="table mb-6">
    <tbody>
    <tr class="table-light">
      <td>ID</td>
      <td>Owner</td>
      <td>Race</td>
      <td>Score</td>
    </tr>
    <tr class="table-bordered" *ngFor="let city of cities">
      <td>{{city.id}}</td>
      <td>
        {{city.ownerName}}
        <button *ngIf="userName != city.ownerName" class="btn btn-warning" style="margin: 4px" (click)="toBattle(city.ownerName, 'conquer')">(Conquer)</button>
        <button *ngIf="userName != city.ownerName" class="btn btn-warning" (click)="toBattle(city.ownerName, 'raid')">(Raid)</button>
      </td>
      <td>{{city.race}}</td>
      <td>{{city.score}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center">
  <button class="btn btn-primary" (click)="creator()">Create City</button>
</div>
