<div class="vaulter">Vault: {{myVault}}</div>
<div>In case of different Race, the cost is tripled!</div>
<div class="details">
  <table class="table mb-6">
    <tbody>
    <tr class="table-light">
      <td class="table-data">Robot Type</td>
      <td class="table-data">Attack</td>
      <td class="table-data">Armor</td>
      <td class="table-data">Structure</td>
      <td class="table-data">Attack Type</td>
      <td class="table-data">Armor Type</td>
      <td class="table-data">Race</td>
      <td class="table-data">Price</td>
      <td colspan="3" class="table-data">Add</td>
    </tr>
    <tr class="table-bordered" *ngFor="let unit of units">
      <td class="table-data">{{unit.displayName}}</td>
      <td class="table-data">{{unit.attack}}</td>
      <td class="table-data">{{unit.armor}}</td>
      <td class="table-data">{{unit.structure}}</td>
      <td class="table-data">{{unit.attackType}}</td>
      <td class="table-data">{{unit.armorType}}</td>
      <td class="table-data">{{unit.raceConnect}}</td>
      <td class="table-data">{{unit.cost}}</td>
      <td style="text-align: center">
        <button type="button" class="btn-warning" (click)="unitBuyer(1, unit.displayName)">Buy 1</button>
      </td>
      <td style="text-align: center">
        <button type="button" class="btn-warning" (click)="unitBuyer(5, unit.displayName)">Buy 5</button>
      </td >
    </tr>
    </tbody>
  </table>
</div>
