<div class="row">
  <div>
    <div>Login</div>
    <div (keydown.enter)="login(name.value, passe.value)">
      <div>
        <input type="text" #name class="name">
      </div>
      <div>
        <input type="password" #passe class="pass">
      </div>
      <div>
        <button (click)="login(name.value, passe.value)">submit</button>
      </div>
    </div>
    <!--    <div>-->
    <!--      <form [formGroup]="loginForm">-->
    <!--        <label class="form-label" for="email2">Email address</label>-->
    <!--        <input type="text" class="form-control"-->
    <!--               formControlName="email2"-->
    <!--               id="email2"-->
    <!--               name="email2"-->
    <!--               placeholder="Enter Email"/>-->
    <!--        <label class="form-label" for="password2">Password</label>-->
    <!--        <input type="password" class="form-control"-->
    <!--               formControlName="password2"-->
    <!--               id="password2"-->
    <!--               name="password2"-->
    <!--               placeholder="Give Password"/>-->
    <!--      </form>-->
    <!--    </div>-->
    <!--    <button (click)="login()">Login</button>-->
      </div>
    <div>
      Register
    </div>
    <div>
      <form [formGroup]="registerForm">
        <label class="form-label" for="name">User Name</label>
        <input type="email" class="form-control"
               formControlName="name"
               id="name"
               name="name"
               placeholder="Enter Name"/>
        <label class="form-label" for="email">Email address</label>
        <input type="email" class="form-control"
               formControlName="email"
               id="email"
               name="email"
               placeholder="Enter Email"/>
        <label class="form-label" for="password">Email address</label>
        <input type="password" class="form-control"
               formControlName="password"
               id="password"
               name="password"
               placeholder="Give Password"/>
      </form>
    </div>
  <div>
    <button (click)="reg()">Register</button>
</div>
  </div>
