#city-name {
  text-align: center
}

.divider {
  display: flex;
  align-items: center;
  flex: auto;
  justify-content: center;
  text-align: center;
}

.details {
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex: fit-content;
}
